---
import type { Page } from "astro";
import { type CollectionEntry, getCollection } from "astro:content";

import { BLOG_PAGE_SIZE } from "@lib/settings";

import Layout from "@lib/layouts/Layout.astro";
import PostListing from "@lib/layouts/PostListing.astro";

export async function getStaticPaths({paginate}: {paginate: any}) {
    const posts = (await getCollection('blog'))
        .filter(post => !post.data.draft && post.data.pubDate < new Date())
        .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
    );
    return paginate(posts, { pageSize: BLOG_PAGE_SIZE});
}

const { page } = Astro.props;
const posts = page.data;

interface Props {
    page: Page<CollectionEntry<"blog">>
}

---

<Layout title="Posts">
    <main>
        <PostListing {posts} currentPage={page.currentPage} lastPage={page.lastPage} baseUrl="/blog"/>
    </main>
</Layout>