---
import { getCollection } from "astro:content";

import { BLOG_PAGE_SIZE } from "@lib/settings";

import Layout from "@lib/layouts/Layout.astro";
import PostListing from "@lib/layouts/PostListing.astro";

const posts = (await getCollection('blog'))
    .filter(post => !post.data.draft && post.data.pubDate < new Date())
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);


//Math.ceil won't guarantee that last page will be Page 1.
const lastPage = Math.floor(posts.length/BLOG_PAGE_SIZE)+1;

posts.length = BLOG_PAGE_SIZE;

---

<Layout title="Posts">
    <main>
        <PostListing {posts} currentPage={1} lastPage={lastPage} baseUrl="/blog"/>
    </main>
</Layout>