---
import { getCollection } from "astro:content";

import { filterPosts, getHeroImages, sortPosts } from '@lib/util';
import { BLOG_PAGE_SIZE } from "@lib/settings";

import Layout from "@lib/layouts/Layout.astro";
import PostListing from "@lib/layouts/PostListing.astro";
import CategoryButtons from "@lib/components/CategoryButtons.svelte";

const posts = (await getCollection('blog')).filter(filterPosts).sort(sortPosts)

const heroImages = await getHeroImages(posts);

//Math.ceil won't guarantee that last page will be Page 1.
const lastPage = Math.floor(posts.length/(BLOG_PAGE_SIZE+1))+1;

posts.length = BLOG_PAGE_SIZE;

---

<Layout title="All posts" description="Browse all the posts from my blog." keywords={["blog", "posts", "navigation", "list", "index"]}>
    <main class="main-container">
        <CategoryButtons />
        <PostListing posts={posts} {heroImages} currentPage={1} lastPage={lastPage} baseUrl="/blog" />
    </main>
</Layout>