---
import { getCollection } from "astro:content";

import { filterPosts, getHeroImages, sortPosts } from '@lib/util';
import { BLOG_PAGE_SIZE } from "@lib/settings";

import Layout from "@lib/layouts/Layout.astro";
import PostListing from "@lib/layouts/PostListing.astro";
import CategoryButtons from "@lib/components/CategoryButtons.svelte";

const posts = (await getCollection('blog')).filter(filterPosts).sort(sortPosts)

const heroImages = await getHeroImages(posts);

//Math.ceil won't lead to Page 1 if there are no posts.
const lastPage = posts.length > 0 ? Math.ceil(posts.length/BLOG_PAGE_SIZE) : 1;

---

<Layout title="All posts" description="Browse all the posts from my blog." keywords={["blog", "posts", "navigation", "list", "index"]}>
    <main class="main-container">
        <CategoryButtons />
        <PostListing posts={posts.slice(0, BLOG_PAGE_SIZE)} {heroImages} currentPage={1} {lastPage} baseUrl="/blog" />
    </main>
</Layout>