@use "./util.scss";
@use "./vars.scss" as *;

main {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 96px;
}

.blog-article {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 3rem;
    background: #{$article-color};
    border: 4px solid #{$emphasis-color};
    box-shadow: util.extrude(8, #{$emphasis-color});
    font-size: 18px;
    margin-top: 1rem;
    position: relative;
    overflow: auto;

    hr {
        border: none;
        border-bottom: 3px solid #{$emphasis-color};
    }

    sup {
        font-size: 16px;
    }

    .cover {
        object-fit: cover;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        &.top {
            object-position: top;
        }
        &.bottom {
            object-position: bottom;
        }
    }

    .metadata {
        margin: 8px 0;
        .icon {
            vertical-align: middle;
            cursor: url("/img/cursors/help.png"), help;
            margin-top: -4px;
        }
        &.dates span {
            margin: 2px 4px;
            margin-right: 8px;
        }
        .tag {
            display: inline-block;
            background-color: #{$base-color};
            padding: 4px 1em;
            margin: 2px 4px;
            border-radius: 999px;
            font-size: 16px;
            text-decoration: none;
            color: #{$emphasis-color};
        }
    }
}

.navigator {
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    align-items: stretch;
    border: 2px solid $emphasis-color;
    box-shadow: util.extrude(8, $emphasis-color);
    background-color: $base-color;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 18px;
    div {
        padding: 5px 1rem;
        display: flex;
        flex-direction: column;
        width: 40%;
        b {
            letter-spacing: 2px;
        }
        a {
            width: 100%;
            color: $emphasis-color;
            text-decoration: none;
        }
    }
    .series {
        width: 20%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: solid $emphasis-color;
        border-width: 0 4px 0 4px;
        text-align: center;
        font-weight: bold;
        background: $nav-color-dark;
        a {
            color: $article-color;
        }
    }
}

pre {
    margin-top: 0;
    border: 2px solid #{$emphasis-color};
    font-size: 16px;
    box-shadow: util.extrude(4);
}

code .line {
    margin-left: 1rem;
}

code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono, Courier New, monospace;
    counter-reset: step;
    counter-increment: step 0;
    font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

code .line::before {
    content: counter(step);
    counter-increment: step;
    width: 1rem;
    margin-right: 1.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115,138,148,.6);
    text-shadow: none;
    user-select: none;
}

.code-button {
    font-family: inherit;
}

.code-block > div {
    position: relative;
    z-index: 1;
}
.code-block:hover button {
    display: block;
}
.code-block button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    margin-right: 1rem;
    border: 2px solid var(--emphasis-color);
    border-width: 2px;
    border-radius: 5px;
    background: var(--base-color);
    color: var(--emphasis-color);
    text-shadow: none;
    box-shadow: 1px 1px 0px #00423A;
    transition: all 0.1s ease-out;
    padding: 0.5em;
    cursor: url('/img/cursors/pointer.png'), pointer;
    &:hover {
        box-shadow: 3px 3px 0px #00423A, 2px 2px 0px #00423A, 1px 1px 0px #00423A;
        transform: translate(-2px, -2px);
    }
    &:active {
        transform: translate(0);
        box-shadow: none;
    }
}
pre {
    padding: 1ch 0;
    text-shadow: 0px 0px 2px rgba(4, 205, 255, 0.425), 0px 0px 50px rgba(163, 255, 250, 0.653);
}

.code-block.dark {
    display: none;
}

@media screen and (max-width: 768px) {
    .navigator {
        max-width: none;
        margin: 0 auto;
        padding: 0 1em;
        border-width: 0;
        border-top-width: 2px;
        font-size: 10pt;
        .series {
            border-width: 0px 2px 0px 2px;
        }
    }
}