@use "./util.scss";
@use "./vars.scss" as *;

.blog-article {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem 3rem;
    background: #{$article-color};
    border: 4px solid #{$emphasis-color};
    box-shadow: util.extrude(8, #{$emphasis-color});
    font-size: 18px;
    margin-top: 1rem;
    position: relative;
    overflow: auto;

    hr {
        border: none;
        border-bottom: 3px solid #{$emphasis-color};
    }

    sup {
        font-size: 16px;
    }

    .cover {
        object-fit: cover;
        width: 100%;
        height: auto;
        aspect-ratio: 16 / 9;
        &.top {
            object-position: top;
        }
        &.bottom {
            object-position: bottom;
        }
    }

    .metadata {
        margin: 8px 0;
        .icon {
            vertical-align: middle;
            cursor: url("/img/cursors/help.png"), help;
            margin-top: -4px;
        }
        &.dates span {
            margin: 2px 4px;
            margin-right: 8px;
        }
        .tag {
            display: inline-block;
            background-color: #{$base-color};
            padding: 4px 1em;
            margin: 2px 4px;
            border-radius: 999px;
            font-size: 16px;
            text-decoration: none;
            color: #{$emphasis-color};
        }
    }
}

.playerLink {
    @media screen and (min-width: 768px) {
        display: flex;
    }
    display: none;
    text-decoration: none;
    overflow: hidden;
    box-sizing: border-box;
    border: 4px solid #{$emphasis-color};
    box-shadow: util.extrude(8);
    background-color: #{$base-color};
    color: #{$emphasis-color};

    .cover {
        width: 64px;
        height: 64px;
        background-color: #{$nav-color-dark};
        border-right: 0.25rem solid #{$emphasis-color};
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .playIcon {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(5px);
            opacity: 0;
            transition: all 0.2s ease-out;
            overflow: hidden;
            img {
                width: 16px;
                margin: 0;
                transition: inherit;
            }
        }
    }

    &:hover {
        color: #{$emphasis-color};
    }

    &:hover .playIcon, &:focus .playIcon {
        opacity: 1;
        img {
            width: 32px;
        }
    }

    .metadata {
        padding: 0.5rem;
        margin: 0;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
    }
}

.navigator {
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: center;
    align-items: stretch;
    border: 2px solid $emphasis-color;
    box-shadow: util.extrude(8, $emphasis-color);
    background-color: $base-color;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-size: 18px;
    div {
        padding: 5px 1rem;
        display: flex;
        flex-direction: column;
        width: 40%;
        b {
            letter-spacing: 2px;
        }
        a {
            width: 100%;
            color: $emphasis-color;
            text-decoration: none;
        }
    }
    .series {
        width: 20%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border: solid $emphasis-color;
        border-width: 0 4px 0 4px;
        text-align: center;
        font-weight: bold;
        background: $nav-color-dark;
        a {
            color: $article-color;
        }
    }
}

@media screen and (max-width: 768px) {
    .navigator {
        max-width: none;
        margin: 0 auto;
        padding: 0 1em;
        border-width: 0;
        border-top-width: 2px;
        font-size: 10pt;
        .series {
            border-width: 0px 2px 0px 2px;
        }
    }
}