@use "./speech.scss";
@use "./util.scss";
@use "./vars.scss" as *;


:root {
    --base-color: #{$base-color};
    --article-color: #{$article-color};
    --emphasis-color: #{$emphasis-color};
    --nav-color-dark: #{$nav-color-dark};
    background-color: #{$base-color};
    background-image: url("/img/pattern.png");
}

html, body {
    font-family: 'Asap', 'Kosugi Maru', Helvetica, Arial, Verdana, sans-serif;
    background-size: 24px;
    margin: 0;
    padding: 0;
    cursor: url("/img/cursors/arrow.png"), auto;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Blinker', 'Kosugi Maru', 'Helvetica Condensed', 'Arial Narrow', Verdana, sans-serif;
    color: #{$emphasis-color};
}

h1 {
    font-size: 32pt;
    margin: 1.5rem 0;
}

* {
    box-sizing: border-box;
}

.filename {
    background-color: darken(aqua, 20%);
    padding: 0.25rem 0.75rem;
    display: inline-block;
    color: white;
    border-radius: 5px 5px 0 0;
    border: solid var(--emphasis-color);
    border-width: 2px 4px 4px 2px;
    position: relative;
    top: 1px;
    z-index: 1;
    border-bottom: none;
    font-size: 16px;
}

a {
    text-decoration: underline;
    color: #2944bd;
    transition: color 0.25s ease-out;
    cursor: url('/img/cursors/pointer.png'), pointer;
    &:hover {
        color: #268dee;
    }
    h1, h2, h3, h4, h5, h6, p {
        cursor: inherit;
    } 
}

*::selection {
    background-color: #468ac2;
    color: white;
}

pre *::selection {
    background-color: rgba(146, 222, 252, 0.603);
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p, code {
    cursor: url("/img/cursors/text.png") 8 8, text;
}

article {
    li {
        cursor: url("/img/cursors/text.png") 8 8, text;
    }
    ol li::marker {
        font-weight: bold;
        color: #{$emphasis-color};
    }
}

.main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    min-height: calc(100vh - 110px - 114px);
    padding: 1.5rem;
    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
        user-select: none;
        cursor: url("/img/cursors/arrow.png"), default;
    }
}

.main-container {
    min-height: calc(100vh - 110px - 114px);
    padding: 1rem 0;
}

.tag-container {
    background-color: #{$article-color};
    border: 4px solid #{$emphasis-color};
    box-shadow: util.extrude(8);
    margin: 0 auto;
    padding: 1rem;
    width: 75%;
    h1 {
        margin: 1rem 0;
    }
}

.infobox {
    background-color: $article-color;
    border: 2px solid #{$emphasis-color};
    box-shadow: util.extrude(4);
    padding: 1rem;
    margin: 0.5rem;
    text-align: justify;
    p:first-of-type {
        margin-top: 0;
    }
    p:last-child {
        margin-bottom: 0;
    }

    &.info {
        background-color: silver;
        border-color: darkslategray;
    }
}