.speech {
    display: block;
    flex-grow: 1;
    --fill-color: #ececec;
    --outline-color: black;
    background-color: var(--fill-color);
    color: black;
    position: relative;
    padding: 2rem;
    border: 4px solid var(--outline-color);
    margin-bottom: 3rem;
    border-radius: 24px;
    overflow: visible;
    box-sizing: content-box;
    min-width: 0;
    filter: drop-shadow(4px 4px 0px rgba(0,0,0,0.25));

    .triangle {
        position: absolute;
        z-index: 1;
        .static {
            position: absolute;
            left: 0;
            top: 0;
            polyline {
                // fill: #0071aa;
                stroke: var(--outline-color);
                fill: var(--fill-color);
                stroke-width: 4px;
                stroke-linejoin: round;
            }
        }
        .animated {
            position: absolute;
            z-index: 1;
            polygon {
                fill: var(--outline-color);
            }
        }
    }

    & p:first-of-type {
        margin-top: 0;
    }
    & p:last-child {
        margin-bottom: 0;
    }

    /** Positions **/

    &.bottom .triangle {
        top: 100%;
        .animated {
            animation: speecher 0.333s linear alternate infinite;
        }
    }
    
    &.bottom.near .triangle {
        left: calc(32px);
    }

    &.bottom.far .triangle {
        right: calc(32px + 48px);
    }

    &.bottom.center .triangle {
        left: 50%;
        transform: translateX(-50%);
    }

    // &.bottom.near::before {
    //     left: 1em;
    //     transform: translateX(50%) translateY(-50%) rotate(-45deg);

    // }

    // &.bottom.center::before {
    //     left: 50%;
    //     transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    // }

    // &.bottom.far::before {
    //     right: 1em;
    //     transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    // }

    // &.left::before {
    //     left: 0;
    // }

    // &.left.near::before {
    //     top: 1.25em;
    //     transform: translateX(-50%) translateY(-50%) rotate(-135deg);
    // }

    // &.left.center::before {
    //     top: 50%;
    //     transform: translateX(-50%) translateY(-50%) rotate(-135deg);
    // }

    // &.left.far::before {
    //     bottom: 0.5em;
    //     transform: translateX(-50%) translateY(-50%) rotate(-135deg);
    // }

    // &.right::before {
    //     right: 0;
    // }

    // &.right.near::before {
    //     top: 1.25em;
    //     transform: translateX(50%) translateY(-50%) rotate(45deg);
    // }

    // &.right.center::before {
    //     top: 50%;
    //     transform: translateX(50%) translateY(-50%) rotate(45deg);
    // }

    // &.right.far::before {
    //     bottom: 0.5em;
    //     transform: translateX(50%) translateY(-50%) rotate(45deg);
    // }

    // &.top::before {
    //     top: 0;
    // }

    // &.top.near::before {
    //     left: 1em;
    //     transform: translateX(50%) translateY(-50%) rotate(-45deg);

    // }

    // &.top.center::before {
    //     left: 50%;
    //     transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    // }

    // &.top.far::before {
    //     right: 1em;
    //     transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    // }

    /** Colors **/

    &.yonic {
        --outline-color: #0071aa;
        --fill-color: #0ef;
    }

    // &.lightblueGradient {
    //     background-image: linear-gradient(0deg, rgba(47,163,250,1) 0%, rgba(56,168,246,1) 10%, rgba(84,226,255,1) 89%);
    //     color: #0a3a61;
    // }

    // &.lightblueGradient::before {
    //     background-image: linear-gradient(45deg, rgba(31,109,190,1) 0%, rgba(22,137,201,1) 51%, rgba(47,163,250,1) 50%);
    // }
}

.speech-container {
    display: flex;
    gap: 1rem;
    &.near {
        align-items: flex-start;
    }
    &.center {
        align-items: center;
    }
    &.far {
        align-items: flex-end;
    }
    br {
        display: none;
    }
}

@keyframes speecher {
    0% {
        top: 0px;
    }
    100% {
        top: -16px;
    }
}