---
import { getCollection } from "astro:content";

import { filterPosts } from "@lib/util";

import Layout from "@lib/layouts/Layout.astro";
import Tag from "@lib/components/Tag.svelte";

const posts = (await getCollection("blog")).filter(filterPosts);

const allTags = posts.flatMap(post => post.data.tags);
const tags = [...new Set(allTags)].sort((a, b) => a.localeCompare(b));
const occurrences: Record<string, number> = {};

for (const tag of tags) {
    occurrences[tag] = allTags.reduce((acc, tag2) => acc += tag2 === tag? 1 : 0, 0);
}

---

<Layout title="All tags" description="This page shows all the tags used in my blog. You can search specific posts by a specific tag." keywords={['blog','navigation','search','tags','index']}>
    <div class="main-container">
        <div class="tag-container">
            <h1>Tags</h1>
            { tags.map(tag => <Tag {tag} total={occurrences[tag]} />) }
        </div>
    </div>
</Layout>