---
import { getImage } from "astro:assets";

import Layout from '@lib/layouts/Layout.astro';
import ProfileIcon from "@lib/components/ProfileIcon.svelte";
import MovingLogo from "@lib/components/MovingLogo.svelte";

import StandardSummer from "@assets/img/profile-icon/standard_summer.png"
import StandardWinter from "@assets/img/profile-icon/standard_winter.png"

async function getProfilePic(src: ImageMetadata, format: "webp"|"png") {
    const img = await getImage({src, format, width: 200, height: 200});
    return img.src;
}

const profileImages: Record<string, {webp: string, png: string}> = {
    summer: {
		webp: await getProfilePic(StandardSummer, "webp"),
		png: await getProfilePic(StandardSummer, "png"),
	},
    winter: {
		webp: await getProfilePic(StandardWinter, "webp"),
		png: await getProfilePic(StandardWinter, "png"),
	}
};

const websiteText = "The Yonic Corner";
const blurb = "Welcome to your just around the corner blog."
---

<Layout title={`Welcome to ${websiteText}`}>
	<main class="main-wrapper">
		<div>
			<ProfileIcon images={profileImages} />
			<MovingLogo {websiteText} />
			<div class="raised biyonic">
				<p>{blurb}</p>
				<p>
					To start, you can explore all the blog's <b><a href="/blog">Posts</a></b>.<br/>
					You can also check all <b><a href="/series">Series</a></b> in this blog,
					or you can search them by topics with <b><a href="/tags">Tags</a></b>.
				</p>
			</div>
			<noscript>
				<div class="raised info">
					This blog works without JavaScript! Enjoy browsing without bloat!
				</div>
			</noscript>
		</div>
		<!--[if gte IE 7]> <p class="raised info">You are using an old version of Internet Explorer. I'll try my best to support IE versions 7 through 11, but don't expect it to work perfectly.</p> <![endif]-->
		<!--[if lt IE 7]> <p class="raised info">You are using a VERY old version of Internet Explorer. I don't think I'll ever plan to support this but you do you! Enjoy the nostalgia!</p> <![endif]-->
	</main>
</Layout>

<style lang="scss">
	@use "../styles/util.scss";

	.raised {
		background-color: var(--article-color);
		border: 2px solid var(--emphasis-color);
		box-shadow: util.extrude(4);
		padding: 1rem;
		margin: 0.5rem;
		text-align: justify;
		p:first-of-type {
			margin-top: 0;
		}
		p:last-child {
			margin-bottom: 0;
		}

		&.info {
			background-color: silver;
			border-color: darkslategray;
		}
	}

	@media screen and (max-width: 768px) {
		main h1 {
			font-size: 2rem;
		}
	}
</style>
