---
import { getImage } from "astro:assets";

import Layout from '@lib/layouts/Layout.astro';
import ProfileIcon from "@lib/components/ProfileIcon.svelte";
import MovingLogo from "@lib/components/modern/MovingLogo.svelte";
import AtomFeed from "@lib/components/feed/AtomFeed.astro";
import WriteFeed from "@lib/components/feed/WriteFeed.astro";

import StandardSummer from "@assets/img/profile-icon/standard_summer.png"
import StandardWinter from "@assets/img/profile-icon/standard_winter.png"

async function getProfilePic(src: ImageMetadata, format: "webp"|"png") {
    const img = await getImage({src, format, width: 200, height: 200});
    return img.src;
}

const profileImages: Record<string, {webp: string, png: string}> = {
    summer: {
		webp: await getProfilePic(StandardSummer, "webp"),
		png: await getProfilePic(StandardSummer, "png"),
	},
    winter: {
		webp: await getProfilePic(StandardWinter, "webp"),
		png: await getProfilePic(StandardWinter, "png"),
	}
};

const websiteText = "The Yonic Corner";
const blurb = "Welcome to your just around the corner blog."
---

<Layout title={`Welcome to ${websiteText}`}>
	<main class="main-wrapper">
		<div>
			<ProfileIcon images={profileImages} client:load />
			<h1>Welcome to <MovingLogo {websiteText} /></h1>
			<div class="infobox biyonic">
				<p>{blurb}</p>
				<p>
					To start, you can explore all the blog's <b><a href="/blog">Posts</a></b> as well as the <b><a href="/browse/archive">Archive</a></b>.<br/>
					You can also check all <b><a href="/browse/series">Series</a></b> in this blog,
					or you can search them by topics with <b><a href="/browse/tags">Tags</a></b>.
				</p>
			</div>
			<noscript>
				<p class="infobox info">
					This blog works without JavaScript! Enjoy browsing without bloat!
				</p>
			</noscript>
		</div>
		<!--[if IE]> <p class="infobox info">You are using an old version of Internet Explorer. I've made a <a href="http://legacy.yonic.blog/">legacy version</a> of my blog specifically designed for old browsers.</p> <![endif]-->
	</main>
	<WriteFeed slot="feed-writer">
		<AtomFeed slot="feed-writer"/>
	</WriteFeed>
</Layout>

<style lang="scss">
	@media screen and (max-width: 768px) {
		main h1 {
			font-size: 2rem;
		}
	}
</style>
