---

const themes = [
    "lightblueGradient",
    "none",
] as const;

export interface Props {
	position?: "top"|"left"|"right"|"bottom"|"none",
    alignment?: "near"|"center"|"far"|"none"
    theme?: typeof themes[number]
}

const { position = "none", alignment = "none", theme = "none" } = Astro.props;
---

<div class:list={["speech-container", alignment]}>
    <slot name="charaLeft"/>
    <div class={`speech ${position} ${alignment} ${theme}`}>
        <slot />
    </div>
    <slot name="charaRight"/>
</div>