---
import '../styles/global.scss';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav>
			<b><a href="/">The Yonic Corner</a></b>
			<ul>
				<li><a href="/blog">Blog</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
		<slot />
	</body>
</html>
<style lang="scss">
	nav {
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid black;
		padding: 1em;
		ul {
			display: flex;
			gap: 1em;
			margin: 0;
			padding: 0;
			li {
				display: block;
			}
		}
	}
</style>
