---
import Marquee from '@lib/components/Marquee.svelte';
import Settings from '@lib/components/Settings.svelte';
import '../styles/global.scss';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" href="/favicon.svg" type="image/svg+xml">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="preload" href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,650;1,400;1,650&family=Blinker:wght@600&family=Bungee&family=Fira+Code&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,650;1,400;1,650&family=Blinker:wght@600&family=Bungee&family=Fira+Code&display=swap"></noscript>
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<nav>
			<ul class="links">
				<li><a href="/" class="logo"><img height=64 width=361 alt="The Yonic Corner" src="/img/desktop-logo.svg"></a></li>
				<li>
					<ul class="navigation">
						<li><a href="/blog"><span>Blog</span></a></li>
						<li><a href="/tags"><span>Tags</span></a></li>
						<li><a href="/about"><span>About</span></a></li>
					</ul>
				</li>
			</ul>
			<div class="borders">
				<div class="border-dark">
					<Marquee client:idle />
				</div>
				<div class="border-transition" />
				<div class="border-light" />
			</div>
		</nav>
		<slot />
		<Settings client:only="svelte" />
	</body>
</html>
<style lang="scss">
	nav {
		display: flex;
		flex-direction: column;
		background-color: var(--base-color);
		.links {
			display: flex;
			padding: 1em;
			padding-bottom: 0;
			justify-content: space-between;
			align-items: flex-end;
			margin: 0;
			.logo > img {
				vertical-align: bottom;
			}
			> li {
				display: block;
			}
			.navigation {
				display: flex;
				flex-direction: row;
				gap: 12px;
				margin: 0;
				padding: 0;
				font-size: 16pt;
				font-family: Bungee, "Arial Black", Arial, Helvetica, sans-serif;
				> li {
					display: inline-block;
					overflow: hidden;
					a {
						display: block;
						position: relative;
						top: 14px;
						padding: 0 16px;
						background-color: var(--emphasis-color);
						border-radius: 24px 24px 0 0;
						text-decoration: none;
						color: var(--base-color);
						height: 64px;
						transition: all 0.1s ease-out;
						&:hover {
							top: 0;
						}
						span {
							filter: drop-shadow(2px 2px 0px black);
						}
					}
				}
			}
		}
		.borders {
			display: flex;
			align-items: center;
			height: 30px;
			background-color: var(--nav-color-dark);
			.border-dark {
				position: relative;
				background-color: var(--emphasis-color);
				width: 40vw;
				height: 100%;
				overflow-x: hidden;
				z-index: 0;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: linear-gradient(90deg, var(--emphasis-color) 2%, rgba(#00423A, 0) 7%, rgba(#00423A, 0) 95%, var(--emphasis-color) 99%);
					z-index: 1;
				}
			}
			.border-transition {
				width: 30px;
				height: 100%;
				background: transparent;
				background-image: linear-gradient(-45deg, transparent 49.9999%, var(--emphasis-color) 50%);
			}
			.border-light {
				display: flex;
				align-items: center;
				background-image: url("/img/bolt.svg");
				background-size: 8px;
				height: 16px;
				margin: 12px;
				flex-grow: 1;
			}
		}
	}
</style>
